#emp {
    border-collapse: collapse;
    border: 3px solid rgba(230, 230, 250, 0.288);
    border-radius: 3px;
};

#emp  tr:nth-child(even){background-color: #f2f2f2;}

#emp  tr:hover {background-color: #ddd;}

.cursor {cursor: pointer;}
